
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    letter-spacing: -0.003em;
}

body,
html {
    height: 100%;
}

/* UNORGANISED */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button,
.tra {
    transition: all 180ms cubic-bezier(0.33, 1, 0.68, 1);
}

.relative {
    position: relative;
}

/* ENDS HERE */

/* ===========================================
    FLEX
=========================================== */

.f-row {
    display: flex;
    align-items: center;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.j-s-b {
    justify-content: space-between;
}

.j-c {
    justify-content: center;
}

.a-c {
    align-items: center;
}

.a-f-s {
    align-items: flex-start;
}

/* ===========================================
    TYPOGRAPHY
=========================================== */

p {
    line-height: 1.6;
}

h1, h2, h3, h4 h5, h6, .gant {
    font-family: 'Gantari';
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: -0,005em;
}

.cen {
    text-align: center;
}

/* ===========================================
    BUTTON MAIN
=========================================== */

.button-main {
    font-family: 'Gantari';
    text-transform: uppercase;
    font-variation-settings: 'wght' 760;
    color: #FBF5F3;
    background-color: #C06030;
    padding: 8px 13px;
    border-radius: var(--br6);
}

.button-main:hover {
    background-color: #AC5628;
    color: white;
}

:root {
    --br6: 6px;
}